*.pem*
aws-creds
output_model/**
output_models/
output_models_initial/
# initial_model/
ignored/**
.direnv
*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea
**/__pycache__

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk

§
*.egg-info
.cache

MUJOCO_LOG.TXT

# To avoid adding pem files to git
*.pem
