gym>=0.15.4, <0.16.0
scipy
tqdm
joblib
cloudpickle==1.2.0
click
opencv-python
matplotlib
pandas
tensorflow < 2
git+https://github.com/pkoperek/gym_cloudsimplus#egg=gym_cloudsimplus
sqlalchemy
psycopg2-binary
requests
